@model GTX_STORE_WEB.Models.LOAISP
@{
    ViewBag.Title = "MoreBrand";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Thêm loại sản phẩm</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","HomeAdmin")">Home</a></li>
                <li class="breadcrumb-item active">Thêm loại sản phẩm</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard" style="background-color: white; padding: 20px; border-radius: 20px; box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); margin-bottom: 20px;">
        @using (Html.BeginForm("MoreKind", "ProduceAdmin", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-floating mb-3">
                    @Html.TextBoxFor(model => model.TENLOAI, new { @class = "form-control", @id = "floatingInputName", placeholder = "Tên loại sản xuất", @required = "required" })
                    @Html.Label("Tên loại sản xuất", new { @class = "form-label" })
                    @Html.ValidationMessageFor(model => model.TENLOAI, "Vui lòng nhập loại sản xuất", new { @class = "invalid-feedback" })
                </div>
                <div class="d-grid gap-2 col-6 mx-auto">
                    <button class="btn btn-primary" type="submit">Thêm</button>

                </div>
            </div>
        }

    <div>
        <a href="@Url.Action("Index","HomeAdmin")" style="text-decoration:none;font-size:15px;color:black;margin-left:20px;">
            <i class="fa-solid fa-backward"></i>  Quay Lại
        </a>
    </div>
    </section>
</main>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


