@using PagedList
@using PagedList.Mvc
@model IPagedList<GTX_STORE_WEB.Models.CT_GIOHANG>

@{
    ViewBag.Title = "ShowCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Giỏ hàng</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","Home")">Home</a></li>
                <li class="breadcrumb-item">Tài khoản người dùng</li>
                <li class="breadcrumb-item active">Giỏ hàng</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section">
        <div class="row">
            <div class="col-lg-12">
                <div class="card" style="border-radius:20px;">
                    <div class="card-body">
                        <h5 class="card-title">Giỏ hàng</h5>
                        <p>Danh sách dưới đây thể hiện các sản phẩm mà bạn đã thêm vào giỏ hàng!</p>
                        @if (ViewBag.Cart == 1)
                        {
                            <h5 style="justify-content:left;font-weight:bold">Tổng số sản phẩm trong giỏ: @Session["SUMSP"].ToString()</h5>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>
                                            Mã sản phẩm
                                        </th>
                                        <th>Tên sản phẩm</th>
                                        <th>Hình ảnh sản phẩm</th>
                                        <th>Số lượng</th>
                                        <th>Tổng tiền</th>
                                        <th>Khác</th>
                                        <th>...</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.MASP</td>
                                            <td>@item.SANPHAM.TENSP</td>
                                            <td><img src="@item.SANPHAM.IMGSP1" style="width:50px;height:50px" alt="SP" /></td>
                                            <td>@item.SOLUONG</td>
                                            <td>@item.TONGTIEN</td>
                                            <td>@Html.ActionLink("Đặt mua", "CovertCartToOrder", "Order", new { SP = item.MASP }, null)</td>
                                            <td>@Html.ActionLink("Xóa khỏi giỏ", "RemoveSPCart", "Cart", new { SP = item.MASP }, null)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    @if (Model.PageCount > 1)
                                    {
                                        <li class="page-item @(Model.IsFirstPage ? "disabled" : "")">
                                            <a class="page-link" href="@Url.Action("ShowCart", "Cart", new { page = 1 })" tabindex="-1" aria-disabled="@(Model.IsFirstPage ? "true" : "false")">Đầu</a>
                                        </li>

                                        <li class="page-item @(Model.IsFirstPage ? "disabled" : "")">
                                            <a class="page-link" href="@Url.Action("ShowCart","Cart",  new { page = Model.PageNumber - 1 })" tabindex="-1" aria-disabled="@(Model.IsFirstPage ? "true" : "false")">Trước</a>
                                        </li>
                                        for (int i = 1; i <= Model.PageCount; i++)
                                        {
                                            <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                                                <a class="page-link" href="@Url.Action("ShowCart","Cart",  new { page = i })">@i</a>
                                            </li>
                                        }

                                        <li class="page-item @(Model.IsLastPage ? "disabled" : "")">
                                            <a class="page-link" href="@Url.Action("ShowCart", "Cart", new { page = Model.PageNumber + 1 })">Sau</a>
                                        </li>

                                        <li class="page-item @(Model.IsLastPage ? "disabled" : "")">
                                            <a class="page-link" href="@Url.Action("ShowCart", "Cart", new { page = Model.PageCount })">Cuối</a>
                                        </li>
                                    }
                                </ul>
                            </nav>
                            <h5 style="justify-content:left;font-weight:bold">Tổng tiền: @Session["SUMTT"].ToString()</h5>
                        }
                        else
                        {
                            <br />
                            <br />
                            <h3>Ohh! :( Bạn chưa có sản phẩm nào trong giỏ hàng... Nhanh chóng mua sắm và thêm vào giỏ hàng.</h3>
                        }
                        <!-- End Table with stripped rows -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</main><!-- End #main -->