@using PagedList
@using PagedList.Mvc
@model IPagedList<GTX_STORE_WEB.Models.DONHANG>

@{
    ViewBag.Title = "UserAccount";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutPage1.cshtml";
}

<main id="main" class="main">
    <div class="pagetitle">
        <h1>Danh sách đơn hàng</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="@Url.Action("Index","HomeAdmin")">Home</a></li>
                <li class="breadcrumb-item active">Đơn hàng</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section dashboard" style="background-color: white; padding: 20px; border-radius: 20px; box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1); margin-bottom: 20px;">
        <header id="header" class="header d-flex align-items-center" style="border-radius:20px;margin-bottom:20px;">
            <div class="search-bar" style="width:100%">
                @using (Html.BeginForm("FindAdminOrder", "FindAdmin", FormMethod.Post))
                {
                    <div class="search-form d-flex align-items-center">
                        @Html.TextBox("FindX", null, new { placeholder = "Search", title = "Enter search keyword", style = "border-radius:20px;padding:10px"})
                        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
                    </div>
                }
            </div><!-- End Search Bar -->
        </header>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayName("Mã đơn")
                </th>
                <th>
                    @Html.DisplayName("Ngày đặt")
                </th>
                <th>
                    @Html.DisplayName("Ngày giao")
                </th>
                <th>
                    @Html.DisplayName("Tình trạng")
                </th>
                <th>Khác</th>
                <th>Xác nhận đơn</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.MADH)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NGAYTAO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NGAYGIAO)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TINHTRANG)
                    </td>
                    <td>
                        @Html.ActionLink("Xem chi tiết", "DetailOrderAd", "OrderAdmin", new { id = item.MADH }, null)
                    </td>
                    <td>
                        @Html.ActionLink("Xác nhận", "UpdateOrderAd", "OrderAdmin", new { id = item.MADH }, null)
                    </td>
                </tr>
            }
        </table>
        <nav aria-label="Page navigation">
            <ul class="pagination">
                @if (Model.PageCount > 1)
                {
                    <li class="page-item @(Model.IsFirstPage ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("OrderUser", "OrderAdmin", new { page = 1 })" tabindex="-1" aria-disabled="@(Model.IsFirstPage ? "true" : "false")">Đầu</a>
                    </li>

                    <li class="page-item @(Model.IsFirstPage ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("OrderUser","OrderAdmin",  new { page = Model.PageNumber - 1 })" tabindex="-1" aria-disabled="@(Model.IsFirstPage ? "true" : "false")">Trước</a>
                    </li>
                    for (int i = 1; i <= Model.PageCount; i++)
                    {
                        <li class="page-item @(i == Model.PageNumber ? "active" : "")">
                            <a class="page-link" href="@Url.Action("OrderUser","OrderAdmin",  new { page = i })">@i</a>
                        </li>
                    }

                    <li class="page-item @(Model.IsLastPage ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("OrderUser", "OrderAdmin", new { page = Model.PageNumber + 1 })">Sau</a>
                    </li>

                    <li class="page-item @(Model.IsLastPage ? "disabled" : "")">
                        <a class="page-link" href="@Url.Action("OrderUser", "OrderAdmin", new { page = Model.PageCount })">Cuối</a>
                    </li>
                }
            </ul>
        </nav>
    </section>
</main>


